@import 'bootstrap/dist/css/bootstrap.min.css';

.container{
  background-image:url(images/starwars.jpg);
  background-repeat:no-repeat;
  background-size:cover ;
  
}
.space1{
   background-image:url(images/space1.jpg);
  background-repeat:repeat;
  background-size:cover ;
}
.space2{
  background-image:url(images/space2.jpg);
  background-repeat:no-repeat;
  background-size:cover ;
}
.space3{
  background-image:url(images/space2.jpg);
  background-repeat:no-repeat;
  background-size:cover ;
}
.navbar { 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  border-radius: 5px;
  margin:2%,2%;
 }
.nav-links { 
  display: flex; 
  gap: 30px;
  list-style: none;
  }
.nav-links a {
   text-decoration:none; 
  }
  p{
    font-size:smaller;
  }
h1{
  color:chartreuse;
  text-align:center;
  text-shadow: 0 0 8px rgba(56, 253, 2, 0.74);
}
.space{
  color:rgb(225, 26, 189);
  text-shadow: none;
}
h2{
  font-weight:700;
  color:rgb(42, 58, 10);
}
div{
  background-color: lab(81.29% -24.93 -10.7);
  border-radius: 10px;
  padding:.5%;
  color:navy;
}
nav{
  color:aliceblue; 
} 
footer{
  color:white;
  position:absolute;
  top: 85%;
  right:0;
  font-size: smaller;
}